@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
  font-family: 'Share Tech', sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #141922;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 