@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 9px; 
  background-color: var(--color-black);
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-gray-3);
  height: 20px;
  border-radius: 12px;
}

body 
{
  font-family: 'Share Tech', sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #141922;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 